main {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.grid {
  display: flex;
  flex-wrap: wrap; /* para que se vayan a la siguiente fila si no caben */
  gap: 1.5rem; /* espacio entre tarjetas */
  justify-content: center; /* centra las tarjetas horizontalmente */
}